@model SAC.CORE.API.ExtendModels.AfiliacionServicios
@{
    ViewData["Title"] = "ProductoEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    @Html.HiddenFor(a => a.IdAfiliciacionCliente);
    @*@Html.HiddenFor(a => a.NombreAfiliacion);*@
    @Html.HiddenFor(a => a.NombreServicio);
    @Html.HiddenFor(a => a.NombreBeneficiario);
    @Html.HiddenFor(a => a.IdentificacionCliente);

    <input type="hidden" id="submitBtn" name="submitBtn" />

    <div class="col-md-12">

        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-12">
                        <h3 class="panel-title">Servicios Adiccionales - Afiliar productos y servicios - Agregar</h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div class="form-inline">
                    <span>Bienvenido(a): </span>
                    <label class="text-uppercase">@ViewData["NombreUnido"]</label>
                    <label class="pull-right">@DateTime.Now.ToString()</label>
                </div>

                <br />

                <div id="Pass1" class="col-sm-offset-4 col-sm-4">

                    <div class="panel panel-default panel-table">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col col-xs-12">
                                    <h3 class="panel-title">Afiliacion  <b>@Model.NombreAfiliacion</b></h3>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-lg-12">

                                    <br />

                                    <div class="form-inline">
                                        <label class="col-md-4 input-sm">Tipo de Servicio: </label>
                                        <div class="input-group col-md-8">
                                            <label class="input-sm">@Model.NombreServicio</label>
                                        </div>
                                    </div>

                                    <div class="form-inline">
                                        <label class="col-md-4 input-sm">Benificiario </label>
                                        <div class="input-group col-md-8">
                                            <label class="input-sm">@Model.NombreBeneficiario.ToString()</label>
                                        </div>
                                    </div>

                                    <div class="form-inline">
                                        <label class="col-sm-4 input-sm">Documento Identidad: </label>
                                        <div class="input-group col-md-8">

                                            <label class="input-sm">@Model.IdentificacionCliente</label>
                                        </div>
                                    </div>

                                    <div class="form-inline">
                                        <label class="col-sm-4 input-sm">Email: </label>
                                        <div class="input-group col-md-8">
                                            @Html.TextBoxFor(a => a.Email, new { @class = "form-control input-sm", @type = "email", @required = "required" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-inline">
                                        <label class="col-sm-4 input-sm">Afiliacion: </label>
                                        <div class="input-group col-md-8">
                                            @Html.TextBoxFor(a => a.NombreAfiliacion, new { @class = "form-control input-sm", @required = "required" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-inline">
                                        <label class="col-sm-4 input-sm">Monto: </label>
                                        <div class="input-group col-md-8">
                                            @Html.TextBoxFor(a => a.MontoMaximo, new { @class = "form-control input-sm", @required = "required", @type = "number" })
                                        </div>
                                    </div>

                                    <hr />

                                    @if (ViewData["ErrorAfiliacion"] == "true")
    {
                                <div class="col-lg-12" style="text-align:center">
                                    <span style="color: red;">Error En Operavión</span>
                                </div>
}

                                <div id="PassPin" class="row">
                                    <div class="col-lg-12">

                                        <div class="row" style="text-align: center;">
                                            <div class="col-sm-offset-5">

                                                <div class="col-lg-4">
                                                    <div class="row form-group">
                                                        <label>PIN</label>
                                                        <input type="password" id="Pin1" name="Pin1" maxlength="2" class="form-control" style="width:95%;text-align:center" required />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12" style="text-align: center;">

                                        <div>

                                            <button type="submit" id="btnContinuar" name="btnContinuar" class="btn btn-primary" >Continuar</button>
                                        </div>
                                    </div>
                                </div>

                                    <div id="PassBtn" class="row">

                                        <div class="col-lg-12" style="text-align: center;">

                                            <div>

                                                <button type="button" id="btnGuardar"  class="btn btn-primary btn-sm" > Guardar</button>
                                                <button type="button" id="btnDelete"  class="btn btn-danger btn-sm" >Eliminar</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pull-right">
                                        <a href="@Url.Action("Index")">Volver a Afiliaciones</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section scripts{

    <script type="text/javascript">

    $(document).ready(function () { //Inicio

        $("#PassPin").hide();

        $("#btnGuardar").on("click", function () {
            //alert("1");
            $("#PassPin").show();
            $("#PassBtn").hide();
            $("#submitBtn").val("btnUPD");
            $("#Pin1").focus();
            $("#btnContinuar").html("Continuar - Actualizar")
            $("#btnContinuar").addClass("btn btn-primary")
        });

        $("#btnDelete").on("click", function () {
            //alert("2");
            $("#PassPin").show();
            $("#PassBtn").hide();
            $("#submitBtn").val("btnDEL");
            $("#Pin1").focus();
            $("#btnContinuar").html("Continuar - Eliminar")
            $("#btnContinuar").addClass("btn btn-danger")
        });

    });
    </script>

}