@model SAC.CORE.API.ExtendModels.TransferenciaTercerosCuentas
@{
    ViewData["Title"] = "TransPropias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-12">
        @Html.HiddenFor(a => a.SecuencialCuentaCliente)
        @Html.HiddenFor(a => a.SecuencialCuentaAfiliado)

        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">Transferencias - Propias</h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div class="form-inline">
                    <span>Bienvenido(a): </span>
                    <label class="text-uppercase">@ViewData["NombreUnido"]</label>
                    <label class="pull-right">@DateTime.Now.ToString()</label>
                </div>

                <br />

                <div id="Pass1" class="row content">

                    <div class="col-lg-4">
                        <div class="row form-group">
                            <label>Cuenta a debitar</label>
                            @Html.DropDownList("CuentaDebitar", ViewData["CtaDebitar"] as List<SelectListItem>, new { @class = "form-control input-sm", @style = "width:98%;" })
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row form-group">
                            <label>Beneficiario</label>
                            @Html.DropDownList("CuentaAbonar", ViewData["CtaDebitar"] as List<SelectListItem>, new { @class = "form-control input-sm", @style = "width:98%;", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row form-group">
                            <label>Monto $</label>
                            @Html.TextBoxFor(a => a.Monto, new { @class = "form-control input-sm", @style = "width:98%;", @type = "number", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="row form-group">
                            <label>Por Concepto</label>
                            @Html.TextBoxFor(a => a.Concepto, new { @class = "form-control input-sm", @style = "width:98%;", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-12">
                            <div id="messageRequired">

                                <span class="help-block" style="color:red;"> * Ingrese los valores Requeridos</span>
                            </div>

                            <div class="col-sm-offset-5 btn-group">
                                <button type="button" id="btnValidar" class="btn btn-success"> Validar</button>
                                <button type="button" id="btnCancelar" class="btn btn-danger"> Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="Pass2" class="col-sm-offset-4 col-sm-4">

                    <div class="panel panel-default panel-table">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col col-xs-12">
                                    <h3 class="panel-title">Transferencias - Validar Transferencia cuentas Terceros</h3>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="form-group row">
                                        <label for="colFormLabelDebito" class="col-sm-4 col-form-label">Cuenta a Debitar</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-sm" id="colFormLabelDebito" placeholder="col-form-label" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="colFormLabelBeneficiario" class="col-sm-4 col-form-label">Beneficiario</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-sm" id="colFormLabelBeneficiario" placeholder="col-form-label" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="colFormLabelMonto" class="col-sm-4 col-form-label">Monto</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="colFormLabelMonto" placeholder="col-form-label" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="colFormLabelConcepto" class="col-sm-4 col-form-label">Concepto</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-sm" id="colFormLabelConcepto" placeholder="col-form-label" readonly>
                                        </div>
                                    </div>

                                    <div class="row" style="text-align: center;">
                                        <span class="help-block">Ingrese las coordenadas solictadas</span>
                                    </div>
                                    <hr />
                                    <div class="row" style="text-align: center;">
                                        <div class="col-sm-offset-3">

                                            <div class="col-lg-4">
                                                <div class="row form-group">
                                                    <label>X1</label>
                                                    @*<input type="password" id="C1" maxlength="2" class="form-control" />*@
                                                    @Html.TextBoxFor(a => a.Coordenada1, new { @class = "form-control", @style = "width:95%;text-align:center", @type = "password", @maxlength = "2", @required = "required" })
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="row form-group">
                                                    <label>X2</label>
                                                    @*<input type="password" id="C2" maxlength="2" class="form-control" style="width:95%;text-align:center" />*@
                                                    @Html.TextBoxFor(a => a.Coordenada2, new { @class = "form-control", @style = "width:95%;text-align:center", @type = "password", @maxlength = "2", @required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12" style="text-align: center;">

                                            <div class="btn-group">
                                                <button type="button" id="btnRegresar" class="btn btn-success"> Regresar</button>
                                                <button type="submit" class="btn btn-success"> Aceptar</button>
                                                <button type="button" id="btnCancelar2" class="btn btn-danger"> Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () { //Inicio

            $('#messageRequired').hide();
            $("#Pass2").hide();

            $("#btnValidar").on("click", function () {
                if (validar()) {

                    var monto = $("#Monto").val();
                    var concepto = $("#Concepto").val();

                    $("#colFormLabelMonto").val(monto);
                    $("#colFormLabelConcepto").val(concepto);

                    $('#messageRequired').hide();
                    $("#Pass1").hide();
                    $("#Pass2").show();
                }
            });

            $("#CuentaDebitar").on("change", function () {
                var idCuentaCliente = $("#CuentaDebitar").val();
                var textCuentaSeleccionadaCliente = $("#CuentaDebitar option:selected").text();

                if (idCuentaCliente == "0") {
                    document.getElementById("CuentaAbonar").selectedIndex = 0;
                    document.getElementById("CuentaAbonar").disabled = "disabled";
                    $("#Monto").val("");
                    $("#Concepto").val("");
                    document.getElementById("Monto").disabled = "disabled";
                    document.getElementById("Concepto").disabled = "disabled";
                }
                else {
                    $("#CuentaDebitar").css('border-color', '#d2d6de')
                    $("#CuentaAbonar").removeAttr("disabled");
                }

                $("#SecuencialCuentaCliente").val(idCuentaCliente);
                $("#colFormLabelDebito").val(textCuentaSeleccionadaCliente);

            });

            $("#CuentaAbonar").on("change", function () {
                var idCuentaAfiliada = $("#CuentaAbonar").val();
                var textCuentaSeleccionadaCAfiliado = $("#CuentaAbonar option:selected").text();

                if (idCuentaAfiliada == "0") {
                    $("#CuentaAbonar").css('border-color', 'red')
                    $("#Monto").val("");
                    $("#Concepto").val("");
                    document.getElementById("Monto").disabled = "disabled";
                    document.getElementById("Concepto").disabled = "disabled";
                }
                else {
                    $("#Monto").removeAttr("disabled");
                    $("#Concepto").removeAttr("disabled");
                    $("#CuentaAbonar").css('border-color', '#d2d6de')
                }

                $("#SecuencialCuentaAfiliado").val(idCuentaAfiliada);
                $("#colFormLabelBeneficiario").val(textCuentaSeleccionadaCAfiliado);

            });

            $("#Monto").on('focusout', function () {
                var _monto = $("#Monto").val();

                if (_monto == "") {
                    $("#Monto").css('border-color', 'red')
                    result = false;
                }
                else
                    $("#Monto").css('border-color', '#d2d6de')
            });

            $("#Concepto").on('focusout', function () {
                var _concepto = $("#Concepto").val();

                if (_concepto == "") {
                    $("#Concepto").css('border-color', 'red')
                    result = false;
                }
                else
                    $("#Concepto").css('border-color', '#d2d6de')
            });

            function validar() {
                var idCuentaCliente = $("#CuentaDebitar").val();
                var idCuentaAfiliada = $("#CuentaAbonar").val();
                var _monto = $("#Monto").val();
                var _concepto = $("#Concepto").val();

                var result = true;

                if (idCuentaCliente == idCuentaAfiliada) {
                    alertify
                        .alert("Las cuentas no pueden ser iguales.", function () {
                            //alertify.message('OK1');
                        });
                    //alert("Las cuentas no pueden ser iguales");
                    return false
                }

                if (idCuentaCliente == "0") {
                    $("#CuentaDebitar").css('border-color', 'red')
                    result = false;
                }
                else
                    $("#CuentaDebitar").css('border-color', '#d2d6de')

                if (idCuentaAfiliada == "0") {
                    $("#CuentaAbonar").css('border-color', 'red')
                    result = false;
                }
                else
                    $("#CuentaAbonar").css('border-color', '#d2d6de')

                if (_monto == "") {
                    $("#Monto").css('border-color', 'red')
                    result = false;
                }
                else
                    $("#Monto").css('border-color', '#d2d6de')

                if (_concepto == "") {
                    $("#Concepto").css('border-color', 'red')
                    result = false;
                }
                else
                    $("#Concepto").css('border-color', '#d2d6de')

                return result;
            }

            $("#btnRegresar").on("click", function () {
                $("#Pass1").show();
                $("#Pass2").hide();
            });

            $("#btnCancelar2").on("click", function () {
                LimpiarControles();
            });

            function LimpiarControles() {

                document.getElementById("CuentaDebitar").selectedIndex = 0;
                document.getElementById("CuentaAbonar").selectedIndex = 0;
                $("#Monto").val("");
                $("#Concepto").val("");

                $("#colFormLabelDebito").val("");
                $("#colFormLabelBeneficiario").val("");
                $("#colFormLabelMonto").val("");
                $("#colFormLabelConcepto").val("");
                $("#Coordenada1").val("");
                $("#Coordenada1").val("");

                $("#Pass1").show();
                $("#Pass2").hide();
            }
        });
    </script>

}