@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Impresion DPF</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/Ionicons/css/ionicons.css" />
        <link rel="stylesheet" href="~/css/AdminLTE.css" />
        <link rel="stylesheet" href="~/css/skins/skin-blue.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.css" />
        <link rel="stylesheet" href="~/css/jquery.dataTables.css" />
        <link rel="stylesheet" href="~/alertifyjs/css/alertify.css" />
        <link rel="stylesheet" href="~/alertifyjs/css/themes/default.css" />
        <link rel="stylesheet" href="~/alertifyjs/css/themes/semantic.css" />
        <link rel="stylesheet" href="~/alertifyjs/css/themes/default.css" />
        <link href="~/alertifyjs/css/themes/bootstrap.rtl.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/Ionicons/css/ionicons.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/AdminLTE.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/skins/skin-blue.min.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/alertifyjs/css/alertify.min.css" asp-append-version="true" />
    </environment>

    <environment names="Development">

        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/app.js" asp-append-version="true"></script>
        @*<script src="~/lib/PACE/pace.js" asp-append-version="true"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>*@
        <script src="~/alertifyjs/alertify.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/app.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body>

    <div class="row content">

        @*<div class="col-sm-12">*@
            <div style="text-align: center;">

                <img src="~/images/LOGO SAC.jpg" width="200px" />
            </div>
        @*</div>*@

        <div class="col-sm-12">

            <div  class="row" style="text-align:center">
               <h4> CERTIFICADO DE DEPÓSITO A PLAZO FIJO</h4>
            </div>
        </div>

        <div class="col-sm-12">

            <div class="row">
                <label>No. 0-045631271</label>
                <label id="documentoId" class="pull-right">CI / RUC: @ViewData["Identificacion"]</label>
            </div>

            @*<div id="valorNominal" class="row" style="text-align:center">
                VALOR NOMINAL ***** US 10.000.00 *****
            </div>*@

            <div class="row">
                <label> Titular (s):</label> <span id="txTitular">@ViewData["NombreTitular"]</span>
            </div>
            <div class="row">
                <label> Beneficiario:</label> <span id="txBeneficiario">@ViewData["NombreBeneficiario"]</span>
            </div>
            <div class="row">
                <label> Capital:</label> <span id="txMontoLetras">@ViewData["MontoLetras"]</span>
                <label id="txPlazoDias" class="pull-right">Plazo: @ViewData["Plazo"] Días</label>
            </div>
            <div class="row">
                <label> Fecha Emisión: </label> <span id="txfechaEmision">@ViewData["FecEmision"]</span>
            </div>
            <div class="row">
                <label> Fecha Vencimiento: </label> <span id="txfechaVencimiento">@ViewData["FecVencimiento"]</span>
            </div>
            <div class="row">
                <label> Fecha Cancelacion:</label><span id="txfechaCancelacion">@ViewData["FecCancelacion"]</span>
            </div>
        </div>

        <div class="col-sm-12">

            <div class="row" style="text-align:justify">
                &ensp;&ensp;&ensp;En virtud de la facultad conferida en el literal b) del artículo 51 de la ley de instituciones del Sistema Financiero, la Cooperativa de Ahorro y Credito ORIZONTEL C.A. emite el presente Certificado de Deposito a Plazo Fijo nominativo y reconoce que pagará al cliente contra la presentación y entrega de este titulo y la identificación correspondiente al vencimiento del plazo, el importe del capital mas los intereses generados de acuerdo al calendario de pagos se incluye en este certificado y luego de reducir los impuestos de ley correspondiente.
            </div>
            <br />
            <div class="row">
                <label> Dirección:</label> <span id="txDireccion">@ViewData["Direccion"]</span>
            </div>
            <div class="row">
                <label> Telefono:</label> <span id="txTelefonos">@ViewData["Telefono"]</span>
            </div>
            <div class="row">
                <label>No socio:</label> <span id="txSocio">@ViewData["Socio"]</span>
            </div>
            <br />
            <div class="row" style="text-align:justify">
                &ensp;&ensp;&ensp; El(Los) titular(es) o Beneficiario(s) declara(n) bajo juramento que el origen de los fondos entregado en este certificado tienen un origen y destino lícito y consecuentemente no provienen de ninguna otra actividad relacionada con la producción, consumo y comercialización de sustancias estupefacientes o psicotrópicas o cualquier otra actividad tipificada en la ley de sustancias estupefacientes y psocotrópicas.
            </div>
            <div class="row" style="text-align:justify">
                En caso de no solicitar su cancelación al vencimiento, este certificado se renovará automaticamente por el plazo original a la tasa de interes vigente a la fecha de su renovacion.
            </div>
            <div class="row" style="text-align:justify">
                El titular de este documento acepta los terminos y condiciones de este Certificado.
            </div>
        </div>

        <div class="col-sm-12">

            <br />
            @*<div class="row col-md-offset-4">*@
            <table class="col-sm-offset-3 col-sm-6" border="1">
                <tr>
                    <td><b>CAPITAL</b></td>
                    <td id="txCapital"> @ViewData["Capital"]</td>
                </tr>
                <tr>
                    <td><b>INTERES</b></td>
                    <td id="txInteres"> @ViewData["Interes"]</td>
                </tr>
                <tr>
                    <td><b>SUBTOTAL</b></td>
                    <td id="txSubtotal">@ViewData["Total"]</td>
                </tr>
                <tr>
                    <td><b>V. DEL IMPUESTO (-)</b></td>
                    <td>0</td>
                </tr>
                <tr>
                    <td><b>TOTAL A PAGAR</b></td>
                    <td id="txTotal">@ViewData["Total"]</td>
                </tr>
            </table>
            @*</div>*@
        </div>
        <div class="col-sm-12">
            <br />
            <br />
            <div class="row" style="text-align:justify">
                <b>Nota: este comprobante no es válido sin certificación de la cooperativa.</b>
            </div>
            <div class="row" style="text-align:justify">
                El Interés se cancelará al momento del vencimiento de la poliza.
            </div>
        </div>
    </div>
</body>
</html>